{% extends "base.html" %}
{%block body%}
<div class="container ">
<div class="row my-3">
<div class="col-sm-8 offset-sm-2 shadow p-5">
<form action="{% url 'signup' %}" method='post'>
 {% csrf_token %}
    <div class="form-group">
        <label for="exampleInputEmail1">Name</label>
        <input type="text" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Phone_Number</label>
        <input type="text" name="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter phone number">
    </div>
    {%if messages%}
    {%for message in messages%}
    <div class="alert alert-success" role="alert">
       {{message}}
     </div>
     {% endfor %}
    {% endif %}
 
 
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="{%url 'signin'%}" class ="text-secondary small"> Already Exists</a>
    
  </form>
</div>
</div>
</div>

{%endblock body%}